body {
	font-family: "Kanit", sans-serif;
	overflow: hidden;
}

.sidenav {
	position: fixed;
}

#sidenav a {
	position: absolute;
	left: -100px;
	transition: 0.12s;
	padding: 12px;
	width: 80px;
	text-decoration: none;
	font-size: 10px;
	color: white;
	border-radius: 0 4px 4px 0;
	text-align: center;
  }
  
  #sidenav a:hover {
	left: -20px;
	cursor: pointer;
  }
  
  #writeSave {
	top : 40px;
	background-color: #4d9be6;
  }

  #loadSave {
	left : 100px;
	top : 120px;
	background-color: #e83b3b;
  }
  
  #testpopout {
	left : 100px;
	top : 200px;
	background-color: slateblue;
  }

  #infoPanel {
	top : 20px;
	left : 200px;
	color : white;
  }

 #popup {
	visibility: hidden;
	min-width: 12%;
	margin-left: -6%;
	background-color: #1ebc73;
	color: white;
	text-align: center;
	border-radius: 4px;
	padding: 16px;
	position: fixed;
	z-index: 1;
	left: 50%;
	bottom: 10%;
	font-size: 10px;
 }

 #popup.show {
	visibility: visible;
	animation: fadein 0.6s, fadeout 0.6s 0.8s;
 }

 @keyframes fadein {
	from {bottom: 0; opacity: 0;}
	to {bottom: 10%; opacity: 1;}
 }

 @keyframes fadeout {
	from {bottom: 10%; opacity: 1;}
	to {bottom: 8%; opacity: 0;}
 }

