@font-face {
	font-family: "Trashhand";
	src: url("assets/TrashHand.ttf") format("truetype");
}

body {
	background-color: #272727;
	font-family: "Kanit", sans-serif;
	overflow: hidden;
	zoom: 100%;
	cursor: url('./assets/arrow-pointer-solid.svg') 5 8, pointer;
}

.cursors {
	transform: scale(6.0);
}

h1 {
	font-size: 100pt;
	font-family: "Trashhand",sans-serif;
	text-align: center;
	margin-top: 10vh;
}


h2 {
	font-size: 10vh;
	font-family: "Trashhand",sans-serif;
	text-align: center;
	margin: -1vh 0 0 -2vh;
	padding: 0;
	font-weight: normal;
	color: #374e4a;
}

.help-text {
	color: #FAFAFA;
	line-height: 1.2;
	font-size: 18px;
	font-family: "Fira Mono", monospace;
}

button {
	transition-duration: 0.1s;
}

button:active {
	background-color: white;
}

button:active:after {
	background-color: white;
}

button:focus {
	outline: 7pt solid #ffffff66;
}

button:hover {
	outline: 10pt solid white;
	cursor: url('./assets/hand-pointer-solid.svg') 16 16, pointer;
}

.main_menu_button {
	left: 50vh;
	width: 100vh;
	transform: translate(-50%,0);
}

.main_menu_button img {
	position: relative;
	transform-origin: 50% 50%;
	transform: translate(10%, 10%);
}

.side_button {
	outline: none;
	border: none;
	position: fixed;
	border-radius: 1.6vh;
	height: 8vh;
	width: 8vh;
	left: 5%
}

.side_button:focus {
	outline: 5pt solid #ffffff66;
}


.side_button:hover {
	outline: 6pt solid white;
}

.help {
	background-color: #0B8A90;
	top: 76%;
}

.help img {
	margin-top: -18%;
}


.help:hover {
	background-color: #8ff8e2;
}

.quit {
	background-color: #7A3045;
	top: 86%;
}

.quit img {
	margin-top: 0%;
}

.quit:hover {
	background-color: #f68181;
}

.background {
	position: fixed;
	width: 100%;
	left: 0;
	top: 0;
}


.screen_vector {
	position: fixed;
	width: 100%;
	left: 0;
	top: -6%;
}

.start_button {
	border-radius: 32pt;
	background-color: #484B78;
	outline: 2pt solid #ffffff00;
	border: none;
	position: fixed;
	left: 50%;
	top: 48%;
	width: 40vh;
	height: 18vh;
}

.start_button img {
	margin-left: -20%;
	margin-top: -8%;
}

.load_file_button {
	border-radius: 24pt;
	background-color: #4d9be6;
	outline: 2pt solid #ffffff00;
	border: none;
	position: fixed;
	left: 50%;
	top: 70%;
	width: 28vh;
	height: 12vh;
}

.load_file_button img {
	margin-left: -9%;
	margin-top: -3%;
}

.preference_button {
	border-radius: 24pt;
	background-color: #4d9be6;
	outline: 2pt solid #ffffff00;
	border: none;
	position: fixed;
	left: 50%;
	top: 84%;
	width: 28vh;
	height: 12vh;
}

#sidenav a {
	position: fixed;
	left: -10%;
	transition: 0.1s;
	padding: 15px;
	width: 12%;
	height: 10%;
	max-height: 10%;
	text-decoration: none;
	font-size: 20pt;
	color: white;
	border-radius: 0 24px 24px 0;
  }
  
  #sidenav a:hover {
	left: 0;
  }

  #save {
	top: 15%;
	background-color: #20BC73;
  }
  
  #load {
	top: 35%;
	background-color: #0EAF9D;
  }
  
  #settings {
	top: 55%;
	background-color: #4D9BE6;
  }
  
  #quit {
	top: 75%;
	background-color: #F25079;
  }

.preference_button img {
	margin-left: -18%;
	margin-top: -3%;
}

 #popup {
	visibility: hidden;
	min-width: 12%;
	margin-left: -6%;
	background-color: #1ebc73;
	color: white;
	text-align: center;
	border-radius: 4px;
	padding: 16px;
	position: fixed;
	z-index: 1;
	left: 50%;
	bottom: 10%;
	font-size: 10px;
 }

 #popup.show {
	visibility: visible;
	animation: fadein 0.6s, fadeout 0.6s 0.8s;
 }

 .creatureEditor {
	background-color: #b2ba90;
	width: 35vh;
	height: 65vh;
	padding: 4vh;
	border-radius: 12px;
	display: block;
 }

 .sliderDiv {
	display: inline-table;
	width: 13vh;
 }

 label {
	display: block;
	padding: 0.4vh;
	margin-top: 2.4vh;
	color: #313638;
	font-size: 1.8vh;
 }

 .slider {
	appearance: none;
	-webkit-appearance: none;
	width: 8vh;
	height: 1vh;
	border-radius: 5px;  
	background: #547e64;
	outline: none;
	opacity: 0.7;
	-webkit-transition: .2s;
	transition: opacity .2s;
  }
  
  .slider::-webkit-slider-thumb {
	-webkit-appearance: none;
	appearance: none;
	width: 1vh;
	height: 2vh;
	border-radius: 1.2vh;
	background-color: #374e4a;
	cursor: url('./assets/hand-pointer-solid.svg') 5 8, pointer;
	transition: transform 0.1s;
  }
  
  .slider::-webkit-slider-thumb:hover {
	transform: scale(1.2);
	cursor: url('./assets/hand-pointer-solid.svg') 5 8, pointer;
	background-color: #313638;
  }

  .sliderVal {
	margin-left: 0.4vh;
	display: inline;
	color: #374e4a;
  }

  input[type=submit] {
	position: absolute;
	margin-top: 2vh;
	text-align: center;
	color: #92a984;
	background-color: #547e64;
	font-family: 'Trashhand', sans-serif;
	font-size: 2.8vh;
	text-decoration: none;
	border: none;
	border-radius: 2vh;
	cursor: url('./assets/hand-pointer-solid.svg') 5 8, pointer;
	width: 14vh;
	height: 6vh;
	transition: transform 0.1s;
  }

  input[type=submit]:hover {
	transform: scale(1.1);
	background-color: #374e4a;
	color: #b2ba90;
  }

 @keyframes fadein {
	from {bottom: 0; opacity: 0;}
	to {bottom: 10%; opacity: 1;}
 }

 @keyframes fadeout {
	from {bottom: 10%; opacity: 1;}
	to {bottom: 8%; opacity: 0;}
 }

 * {
	box-sizing: border-box;
  }
  
  .wheel {
	position: fixed;
	width: 500px;
	height: 500px;
	transform: translate(-50%, -50%);
	transform-origin: 0% 0%;
	z-index: -2;
  }

  .wheel.on {
	z-index: 1;
  }
  
  .wheel.on .arc {
	opacity: 0.5;
	transform: scale(0.2) rotate(var(--rotation)) !important;
  }
  
  .wheel .arc {
	position: absolute;
	top: 0;
	right: 0;
	width: 50%;
	height: 50%;
	transform-origin: 0% 100%;
	background-image: radial-gradient(circle at 0% 100%, transparent, transparent 11.75%, #7f708a 12%, #7f708a 50%, transparent 50.25%, transparent);
	transition-property: transform, opacity;
	transition-duration: 0.1s;
	opacity: 0;
	transform: scale(0) rotate(var(--rotation));
  }
  .wheel .arc i {
	position: absolute;
	bottom: 22%;
	left: 22%;
	font-size: 3.6rem;
	transform: rotate(calc(var(--rotation) * -1));
	color: rgba(255, 255, 255, 1);
	transition: color 0.1s;
  }
  
  
  .wheel[data-chosen="1"] .arc:nth-child(1) {
	opacity: 1;
	transform: scale(0.25) rotate(var(--rotation)) !important;
  }
  .wheel[data-chosen="1"] .arc:nth-child(1) i {
	color: #ffffff;
  }
  .wheel .arc:nth-child(1) {
	--rotation: -22.5deg;
  }
  
  
  .wheel[data-chosen="2"] .arc:nth-child(2) {
	opacity: 1;
	transform: scale(0.25) rotate(var(--rotation)) !important;
  }
  .wheel[data-chosen="2"] .arc:nth-child(2) i {
	color: #ffffff;
  }
  .wheel .arc:nth-child(2) {
	--rotation: 67.5deg;
  }
  
  
  .wheel[data-chosen="3"] .arc:nth-child(3) {
	opacity: 1;
	transform: scale(0.25) rotate(var(--rotation)) !important;
  }
  .wheel[data-chosen="3"] .arc:nth-child(3) i {
	color: #ffffff;
  }
  .wheel .arc:nth-child(3) {
	--rotation: 157.5deg;
  }
  
  
  .wheel[data-chosen="4"] .arc:nth-child(4) {
	opacity: 1;
	transform: scale(0.25) rotate(var(--rotation)) !important;
  }
  .wheel[data-chosen="4"] .arc:nth-child(4) i {
	color: #ffffff;
  }
  .wheel .arc:nth-child(4) {
	--rotation: 247.5deg;
  }
  
  .callout {
	font-family: "Trashhand", sans-serif;
	position: fixed;
	 top: 20%;
	  left: 20%;
	  width: 35vh;
	  height: 55vh;
	  display: none;
	  background-color: #547e64;
	  border-radius: 12px;
	}
	
	.callout-header {
	  padding: 5%;
	  margin: 4%;
	  margin-bottom: -8%;
	  background-color: #32353A;
	  font-size: 6vh;
	  text-align: center;
	  vertical-align: middle;
	  color: #B2BB90;
	  border-radius: 12px;
	}
	
	.callout-container {
	  padding: 4%;
	  color: #B2BB90;
	  font-size: 2.8vh;
	  margin-left: 8%;
	  top: 0;
	}

	.callout-label {
		font-size: 3.2vh;
		color: #32353A;
	}
	
	.closebtn {
	  position: absolute;
	  top: 4vh;
	  right: -4vh;
	  width: 4vh;
	  height: 4vh;
	  color: #B2BB90;
	  background-color: #537E63;
	  border-radius: 0 6px 6px 0;
	  font-size: 4vh;
	  cursor: url('./assets/hand-pointer-solid.svg') 5 8, pointer;
	  font-family: sans-serif;
	  text-align: center;
	  vertical-align: middle;
	  padding: auto;
	  transition: 0.05s;
	}
	
	.closebtn:hover {
		color: #537E63;
		background-color: #32353A;
	}

	* {
		box-sizing: border-box;
	  }

	   input[type=text] {
		border-radius: 1vh;
		position: fixed;
		padding: 0.5%;
		line-height: 1.2;
		font-size: 8px;
		font-family: "Fira Mono", monospace;
		width: 16%;
		height: 4%;
		color: #FAFAFAFF;
		border: none;
		width: 16%;
		right: 8%;
		bottom: 8%;
		background-color: #AAAAAAAA;
	  }

	  .pauseOverlay {
		width: 100%;
		height: 100%;
		background-color: #1a141c88;
		display: none;
		position: fixed;
		top: 0;
		left: 0;
	  }