@font-face {
	font-family: "Trashhand";
	src: url("assets/TrashHand.ttf") format("truetype");
}

body {
	font-family: "Kanit", sans-serif;
	overflow: hidden;
	zoom: 100%;
	cursor: url('./assets/arrow-pointer-solid.svg') 5 8, pointer;
}

h1 {
	font-size: 100pt;
	font-family: "Trashhand",sans-serif;
	text-align: center;
	margin-top: 10%;
}

button {
	transition-duration: 0.1s;
	left: 50%;
	transform: translate(-50%,0);
}

button:active {
	background-color: white;
}

button:active:after {
	background-color: white;
}

button:focus {
	outline: 8pt solid #ffffff66;
}

button:hover {
	outline: 10pt solid white;
	cursor: url('./assets/hand-pointer-solid.svg') 7 8, pointer;
}

button img {
	transform: scale(90%);
}

.side_button {
	outline: none;
	border: none;
	position: fixed;
	border-radius: 1.6vw;
	height: 6vw;
	width: 6vw;
}

.side_button:hover {
	outline: none;
	border: none;
	transform: scale(1.1);
}

.help {
	background-color: #0B8A90;
	left: 3%;
	top: 74%;
}


.help:hover {
	background-color: #8ff8e2;
}

.quit {
	background-color: #7A3045;
	left: 3%;
	top: 86%;
}

.quit:hover {
	background-color: #f68181;
}

.background {
	position: fixed;
	width: 100%;
	left: 0;
	top: 0;
}


.screen_vector {
	position: fixed;
	width: 100%;
	left: 0;
	top: -6%;
}

.start_button {
	border-radius: 32pt;
	background-color: #484B78;
	outline: 2pt solid #ffffff00;
	border: none;
	position: fixed;
	left: 50%;
	top: 56%;
	width: 22%;
	height: 18%;
}

.start_button img {
	margin-left: -21%;
	margin-top: -8%;
}

.load_file_button {
	border-radius: 24pt;
	background-color: #4d9be6;
	outline: 2pt solid #ffffff00;
	border: none;
	position: fixed;
	left: 50%;
	top: 75%;
	width: 16%;
	height: 12%;
}

.load_file_button img {
	margin-left: -9%;
}

.preference_button {
	border-radius: 24pt;
	background-color: #4d9be6;
	outline: 2pt solid #ffffff00;
	border: none;
	position: fixed;
	left: 50%;
	top: 90%;
	width: 16%;
	height: 12%;
}

.preference_button img {
	margin-left: -18%;
}

.sidenav {
	position: fixed;
}

#sidenav a {
	position: absolute;
	left: -100px;
	transition: 0.1s;
	padding: 12px;
	width: 80px;
	text-decoration: none;
	font-size: 10px;
	color: white;
	border-radius: 0 4px 4px 0;
	text-align: center;
  }
  
  #sidenav a:hover {
	left: -20px;
	cursor: url('./assets/hand-pointer-solid.svg') 5 8, pointer;
  }
  
  #writeSave {
	top : 40px;
	background-color: #4d9be6;
  }

  #loadSave {
	left : 100px;
	top : 120px;
	background-color: #e83b3b;
  }
  
  #testpopout {
	left : 100px;
	top : 200px;
	background-color: slateblue;
  }

  #infoPanel {
	top : 20px;
	left : 200px;
	color : white;
  }

 #popup {
	visibility: hidden;
	min-width: 12%;
	margin-left: -6%;
	background-color: #1ebc73;
	color: white;
	text-align: center;
	border-radius: 4px;
	padding: 16px;
	position: fixed;
	z-index: 1;
	left: 50%;
	bottom: 10%;
	font-size: 10px;
 }

 #popup.show {
	visibility: visible;
	animation: fadein 0.6s, fadeout 0.6s 0.8s;
 }

 @keyframes fadein {
	from {bottom: 0; opacity: 0;}
	to {bottom: 10%; opacity: 1;}
 }

 @keyframes fadeout {
	from {bottom: 10%; opacity: 1;}
	to {bottom: 8%; opacity: 0;}
 }

 * {
	box-sizing: border-box;
  }
  
  .wheel {
	position: fixed;
	width: 500px;
	height: 500px;
	transform: translate(-50%, -50%);
	transform-origin: 0% 0%;
  }
  
  .wheel.on .arc {
	opacity: 0.5;
	transform: scale(0.2) rotate(var(--rotation)) !important;
  }
  
  .wheel .arc {
	position: absolute;
	top: 0;
	right: 0;
	width: 50%;
	height: 50%;
	transform-origin: 0% 100%;
	background-image: radial-gradient(circle at 0% 100%, transparent, transparent 11.75%, #7f708a 12%, #7f708a 50%, transparent 50.25%, transparent);
	transition-property: transform, opacity;
	transition-duration: 0.1s;
	opacity: 0;
	transform: scale(0) rotate(var(--rotation));
  }
  .wheel .arc i {
	position: absolute;
	bottom: 22%;
	left: 22%;
	font-size: 3.6rem;
	transform: rotate(calc(var(--rotation) * -1));
	color: rgba(255, 255, 255, 1);
	transition: color 0.1s;
  }
  
  
  .wheel[data-chosen="1"] .arc:nth-child(1) {
	opacity: 1;
	transform: scale(0.25) rotate(var(--rotation)) !important;
  }
  .wheel[data-chosen="1"] .arc:nth-child(1) i {
	color: #ffffff;
  }
  .wheel .arc:nth-child(1) {
	--rotation: -22.5deg;
  }
  
  
  .wheel[data-chosen="2"] .arc:nth-child(2) {
	opacity: 1;
	transform: scale(0.25) rotate(var(--rotation)) !important;
  }
  .wheel[data-chosen="2"] .arc:nth-child(2) i {
	color: #ffffff;
  }
  .wheel .arc:nth-child(2) {
	--rotation: 67.5deg;
  }
  
  
  .wheel[data-chosen="3"] .arc:nth-child(3) {
	opacity: 1;
	transform: scale(0.25) rotate(var(--rotation)) !important;
  }
  .wheel[data-chosen="3"] .arc:nth-child(3) i {
	color: #ffffff;
  }
  .wheel .arc:nth-child(3) {
	--rotation: 157.5deg;
  }
  
  
  .wheel[data-chosen="4"] .arc:nth-child(4) {
	opacity: 1;
	transform: scale(0.25) rotate(var(--rotation)) !important;
  }
  .wheel[data-chosen="4"] .arc:nth-child(4) i {
	color: #ffffff;
  }
  .wheel .arc:nth-child(4) {
	--rotation: 247.5deg;
  }
  
  .callout {
	font-family: "Trashhand", sans-serif;
	  position: fixed;
	  top: 30%;
	  left: 20%;
	  width: 20%;
	  height: 60%;
	  display: none;
	  background-color: #537E63;
	  border-radius: 12px;
	}
	
	.callout-header {
	  padding: 5%;
	  margin: 4%;
	  background-color: #32353A;
	  font-size: 1.8rem;
	  text-align: center;
	  vertical-align: middle;
	  color: #B2BB90;
	  border-radius: 12px;
	}
	
	.callout-container {
	  padding: 4%;
	  color: #B2BB90;
	  font-size: 0.6rem;
	}
	
	.closebtn {
	  position: absolute;
	  top: 5%;
	  right: -15%;
	  width: 24px;
	  height: 24px;
	  color: #B2BB90;
	  background-color: #537E63;
	  border-radius: 0 6px 6px 0;
	  font-size: 1.4rem;
	  cursor: url('./assets/hand-pointer-solid.svg') 5 8, pointer;
	  font-family: sans-serif;
	  text-align: center;
	  vertical-align: middle;
	  transition: 0.05s;
	}
	
	.closebtn:hover {
		color: #537E63;
		background-color: #32353A;
	}

	* {
		box-sizing: border-box;
	  }

	  /* input[type="text"] {
		position: fixed;
		right: 8%;
		padding: 0.5%;
		line-height: 1.2;
		font-size: 8px;
		font-family: "Fira Mono", monospace;
		width: 16%;
		height: 4%;
		color: #FAFAFA;
		border: none;

		display: none;
		bottom: -2%;
		background-color: #22222222;

		transition: 0.2s ease-out;
	  }

	  input[type="text"]:focus {
		display: block;
		bottom: 10%;
		background-color: #AAAAAAAA;
	  }
	   */

	   input[type=text] {
		position: fixed;
		padding: 0.5%;
		line-height: 1.2;
		
		font-size: 8px;
		
		font-family: "Fira Mono", monospace;
		width: 16%;
		height: 4%;
		color: #27272700;
		border: none;
		width: 16%;
		right: 8%;
		bottom: -2%;
		background-color: #22222222;

		transition: 0.1s ease-out;
	  }
	  
	  input[type=text]:focus {
		bottom: 10%;
		background-color: #AAAAAAAA;
		color: #FAFAFAFF;
	  }